{{!< default}}

<h1>Hello, {{name}} !</h1>

<p><em>This is HelloController speaking, using the view "view/hello.hbs".</em></p>

<ul>
{{#each lastten}}
    <li>
        <a href="{{ route 'home' name=attributes.username}}">{{attributes.username}}</a>
    </li>
{{/each}}
</ul>